<!DOCTYPE html>
<h1>Transportation Confirmation</h1>
<form>
	<fieldset>
		<legend>Pick Up Information: </legend>
		<label class="confirmLabel">Transport Capacity: </label>
		<input id="plus" class="btn" type="button" value="Increase" onclick="incCapacity()">
		<input id="capacity" type="number">
		<input id="minus" class="btn" type="button" value ="Decrease" onclick="decCapacity()">
		<label class="confirmLabel">Date of Pick Up: </label>
		<input id="datePickUp" type="date" value="2019-04-15">
		<label class="confirmLabel">Time of Pick Up: </label>
		<input id="timePickUp" type="time" value="10:00">
	</fieldset>
</form>

<iframe src="https://calendar.google.com/calendar/embed?src=oregonstate.edu_i98jdqce8oklho3jmc8hrc7488%40group.calendar.google.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
</iframe>

<script src="/static/editConfirm.js"></script>