<!DOCTYPE html>
<h1>Homepage</h1>

<p>Work Completed.</p>

<ul>
  <li>User Story #1:  Navigation</li>
  <li>User Story #2:  <a href="/canine-rescue/lists">Dogs Listed by Shelter, Rescue Group, Event</a></li>
  <li>User Story #3:  <a href="/canine-rescue/dog/55">Dog Details</a> (<a href="/canine-rescue/dog/owner/55">Alternate Owner View</a> with "Request Transport")</li>
  <li>User Story #5:  <a href="/canine-rescue/confirm">Transportation Confirmation</a>
</ul>