html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #333333;
	font-family: 'Muli', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #000000;
}


h1, h2, h3, h4, h5 {
	margin: 0;
	padding-bottom: 0px;
    text-transform:uppercase;

}

h3 {
    letter-spacing: .03em;
	font-weight: 600;
	font-size: 1.5em;
    color: #000000;
    margin-bottom: 20px;
}

h4 {
    letter-spacing: .03em;
	font-weight: 600;
	font-size: 1.1em;
    color: #000000;
    margin-bottom: 10px;
    margin-top:20px;
    text-align:center;
}

h5 {
    letter-spacing: .01em;
	font-weight: 600;
	font-size: .9em;
    color: #000000;
    margin-bottom: 10px;
    margin-top:20px;
}

p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}

strong {
}

a {
	color: #171717;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
		}

	.image-full
	{
		display: block;
		width: 100%;
		margin: 0 0 2em 0;
	}
	
	.image-left
	{
		float: left;
		margin: 0 2em 2em 0;
	}
	
	.image-centered
	{
		display: block;
		margin: 0 0 2em 0;
	}

		.image-centered img
		{
			margin: 0 auto;
			width: auto;
		}

hr {
	display: none;
}

.code-example {
    font-family: Courier New, Courier, monospace;
    font-size:20px;
    background-color:yellow;
}

iframe {
    margin-top:15px;
    margin-bottom:30px;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

	ul.style1
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.style1 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style1 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

	ul.style2
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

	ul.contact
	{
		margin: 0;
		padding: 1.5em 0em 2.5em 0em;
		list-style: none;
	}
	
	ul.contact li
	{
		display: inline-block;
		padding: 0em 0.30em;
		font-size: 1em;
	}
	
	ul.contact li span
	{
		display: none;
		margin: 0;
		padding: 0;
	}
	
	ul.contact li a
	{
		color: #FFF;
	}
	
	ul.contact li a:before
	{
		display: inline-block;
		background: #3f3f3f;
		width: 40px;
		height: 40px;
		line-height: 40px;
		border-radius: 20px;
		text-align: center;
		color: #FFFFFF;
	}
	
	ul.contact li a.icon-twitter:before { background: #2DAAE4; }
	ul.contact li a.icon-facebook:before { background: #39599F; }
	ul.contact li a.icon-dribbble:before { background: #C4376B;	}
	ul.contact li a.icon-tumblr:before { background: #31516A; }
	ul.contact li a.icon-rss:before { background: #F2600B; }


/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 2em;
		text-transform: uppercase;
	}

	.title h2
	{
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 2em;
		color: #000000;
	}
	
	.title .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}
	

/** WRAPPER */

#wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
}

#footer-wrapper
{
	background: #0F0F0F;
}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}


/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

#header-wrapper
{
	overflow: hidden;
	background-size: 100%;
	background: #FFFFFF;
}


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header 
	{
		position: relative;
		overflow: hidden;
		text-align: center;
	}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

	#logo 
	{
		width: 1000px;
		height: 100px;
		margin: 0 auto;
		padding: 2em 0em;
		text-transform: uppercase;
	}
	
	#logo h1
	{
		letter-spacing: 0.10em;
		font-size: 3em;
	}
	
	#logo p 
	{
		letter-spacing: 0.10em;
		color: #000000;
	}
	
	#logo a 
	{
		text-decoration: none;
		color: #000000;
	}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner 
	{
		position: absolute;
		left: 0;
		overflow: hidden;
		z-index: 1;
	}
	
	#banner .image
	{
		border: 5px solid #FFFFFF;
	}
	

/*********************************************************************************/
/* Menu                                                                        */
/*********************************************************************************/

#menu-wrapper
{
	background: #000000;
}

#menu {
	overflow: hidden;
	height: 50px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	padding: 20px 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	font-weight: 600;
	border: none;
	color: #FFF;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
}

#menu .current_page_item a {
	border:solid;
}

/** PAGE */

#page
{
	position: relative;
	overflow: hidden;
	padding: 3em 0em 2em 0em;
}

/** CONTENT */

#content
{

	width: 80%;
    margin-left:auto;
    margin-right:auto;
}


/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 2em 0em;
		text-align: center;
	}
	
	#copyright p
	{
		letter-spacing: 0.20em;
		text-align: center;
		text-transform: uppercase;
		font-size: 0.80em;
		color: #6F6F6F;
	}
	
	#copyright a
	{
		text-decoration: none;
		color: #8C8C8C;
	}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

	#welcome
	{
		overflow: hidden;
		padding: 5em 0em;
		border-bottom: 1px solid #E5E5E5;
		text-align: center;
	}
	
	#welcome h2
	{
		letter-spacing: 0.20em;
		text-transform: uppercase;
		font-size: 2.6em;
	}
	
	#welcome p
	{
		font-size: 1.3em;
	}

	#welcome .byline
	{
		display: block;
		padding: 0em 0em 1.5em 0em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #6F6F6F;
	}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

	#portfolio-wrapper
	{
		background: #000000;
		padding: 2em 0em;
		color: rgba(255,255,255,.7);
	}
	
	#portfolio
	{
		overflow: hidden;
	}
	
	#portfolio .title h2
	{
		font-size: 1.1em;
		color: #FFF;
	}

	#portfolio .byline
	{
		font-size: 1em;
		color: #EEA7C1;
	}
	
	#column1,
	#column2,
	#column3,
	#column4,
    #column5
	{
		width: 225px;
	}
	
	#column1,
	#column2,
    #column3
	{
		float: left;
		margin-right: 19px;
	}
	
	#column4
	{
		float: left;
	}
	
	#column5
	{
		float: right;
	}


/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/
	
	#footer-wrapper
	{
		overflow: hidden;
		padding: 5em 0em;
		background: #1E1B1A;
	}

	#footer
	{
		color: #ADADAD;
	}
	
	#footer .title h2
	{
		font-weight: 400;
		font-size: 1.2em;
		color: #FFF;
	}

	#footer .title
	{
		border-color: #2D2926 !important;
	}
	
	#footer .style1 li
	{
		border-color: #2D2926 !important;
	}
	
	#footer .style1 a
	{
		letter-spacing: 0.10em;
		font-size:1em;
		color: #B1B1B1;
	}
	
	#box1
	{
		float: left;
		width: 354px;
		margin-right: 24px;
		padding-right: 30px;
	}
	
	#box2
	{
		float: left;
		width: 354px;
		margin-left: 24px;
		padding-right: 30px;
	}
	
	#box3
	{
		float: right;
		width: 344px;
		padding-left: 40px;
	}


/*********************************************************************************/
/* Additional                                                                    */
/*********************************************************************************/

table
    {
	    width: 95%;
        margin-left:auto;
        margin-right:auto;
    }

td
	{
		font-size:14px;
	}

th
	{
		font-weight:bold;
		font-size:14px;
	}
	
.btn
	{
		background-color: #000000;
		border: none;
		color: white;
		padding: 14px 26px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-family: 'Muli', sans-serif;
		border-radius: 8px;
		font-size: 14px;
	}


.wide-table{
    	width: 99%;
        margin-left:auto;
        margin-right:auto;
}

.center-column {
    text-align:center;
}


.filter-class, .add-class, .view-class, .update-class
{
    padding:10px;
    border-style:solid;
    border-width:1px;
    border-color:#B0B0B0;
    margin-bottom:10px;
}

label {
    padding-right:10px;
    padding-left: 10px;
    width:100px;
    clear:left;
    text-align:right;
    float:left;
}


input,select {
    width:100px;
    float:left;
}

.wide-select {
    width:300px;
    float:left;
}

.form-inline 
{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.filter-submit, .add-submit {
    margin-left:120px;
}

.add-supervisor-submit,add-position-submit, add-position-to-personnel-submit, update-personnel-button {
    margin-left:10px;
}

.wide {
    width:300px;
}









	